<h1 class="c-heading c-heading--01">Example heading1</h1>
<h2 class="c-heading c-heading--02">Example heading2</h2>
<h3 class="c-heading c-heading--03">Example heading3</h3>
<h4 class="c-heading c-heading--04">Example heading4</h4>
<h5 class="c-heading c-heading--05">Example heading5</h5>
