<table class="c-table c-table--01">
  <tr>
    <th>Example Table th1</th>
    <th>Example Table th1</th>
    <th>Example Table th1</th>
    <th>Example Table th1</th>
  </tr>
  <tr>
    <td>Example Table td1</td>
    <td>Example Table td1</td>
    <td>Example Table td1</td>
    <td>Example Table td1</td>
  </tr>
</table>